*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.first{
    background-color: blueviolet;
}
.first h3{
    color: white;
}
.head{
    background-color: rgba(0, 0, 0, 0.11);
    display: flex;
    height: auto;
    justify-content: space-between;
}
.logo{
    
    margin: 3ch;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 32px;
}
.logo span{
    color: lightpink;
}
.nav{
    width: fit-content;
    margin-top: 3%;
    height: fit-content;
}
.nav a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 2ch;
    padding: 2px;
    border-bottom: 2px solid lightpink;
    border-radius: 5px;
}
.nav a:hover{
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.527) ;
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.line{
    height: fit-content;
    cursor: pointer;
    margin: 2ch;
    display: none;
}
.line1{
    background-color: white;
    width: 45px;
    height: 4px;
    margin: 8px;
    cursor: pointer;
}
.second{
    height: fit-content;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.intro{
    height: fit-content;
    background-color: blueviolet;
    width: 400px;
    margin: 40px;

}
.intro h2{
    width: fit-content;
    color: white;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.479);
}
.intro p{
    color: lightpink;
    font-size: 20px;
    margin: 10px;
    word-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro h3{
    color: white;
    margin: 10px;
    padding-bottom: 10px;
}
.pic{
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: black;
    height: 250px;
    width: 250px;
}
.pic img{
    height: 250px;
    width: 250px;
}
.third{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 22, 22);
    flex-wrap: wrap;
}
.link{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.13)  ;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.link h2{
    color:rgb(255, 255, 255);
    margin: 15px;
    background-color:rgba(0, 0, 0, 0.616) ;
}
.link a{
    margin: 5px;
    color: lightpink;
}
.link a:hover{
    color: white;
}
.category{
    margin: 10px;
    background-color:rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.category h2{
    color:rgb(255, 255, 255);
    margin: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.459);
}
.category a{
    
    margin: 5px;
    color: lightpink;
}
.category a:hover{
    color: white;
}
.icon{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.icon h2{
    color:rgb(255, 255, 255);
    margin: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.459);
}
.icon a{
    
    margin: 5px;
    color: lightpink;
}
.icon a:hover{
    color: white;
}

@media screen and (max-width:950px) {
    
    .nav{
        display: none;
    }
    .line{
        display: block;
    }
    .first{
        height: fit-content;
    }
}
@media screen and (max-width:809px) {
    .pic{
        margin-top: 0px;
    }
}
